*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundHeader: #ffffff;
  --ColorTitleColumn: #54adec;
  --backgroundHover: #54adec;

  --backgroundColumn: #f5f5f5;
  --boxShadowColumn: #dfdfdf;
  --backgroundTask: #ffffff;

  --colorText: #5e6c84;
  --colorTextH4: #172b4d;
  --colorTextHover: #fff;
  --backgroundColorButtonCheck: #5aac44;
  --backgroundColorButtonClose: #f28a83;
  --backgroundColorBoxShadow: #c8c8c8;
 
  --backgroundColorTaskBody: #f4f5f7;
  --colorHoverTask: #091e42;
  --borderColorHoverTask: rgba(9, 30, 66, .25);

  --backgroundTrack: #dadbe2;
  --backgroundThumb: #bfc4ce;

  --backgroundCommentEmpty: rgba(9, 30, 66, .04);
  --colorCommentEmpty: #a5adba;

}
.App{
  background-color: #e6e6e6;
  width: 100%;
  min-height: 100vh;
}

