/* Container main */
.containerMain{
    -webkit-box-shadow: inset 0px 0px 15px 3px var(--backgroundColorBoxShadow);
    -moz-box-shadow: inset 0px 0px 15px 3px var(--backgroundColorBoxShadow);
    box-shadow: inset 0px 0px 15px 3px var(--backgroundColorBoxShadow);
    height: calc(100% - 55px);
    background-color: #e6e6e6;
    position: fixed;
    width: 100%;
}

/* ------ TableList Top ------*/
.containerFlexTableList {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
    color: var(--colorText);
}
.containerFlexTableList p {
    margin: 0 10px;
    font-size: 20px;
    color: var(--colorText);
    font-weight: 500;
}
.contaienerAddMembers {
    border-radius: 50%;
    background-color: rgba(9, 30, 66, .04);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.contaienerAddMembers:hover {
    background-color: rgba(9, 30, 66, .08);
}

/* ------ TableList body ------*/

.containerTableListBody{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    height: calc(99% - 55px);
}

.containerTableListBody::-webkit-scrollbar {
    height: 12px;
}
.containerTableListBody::-webkit-scrollbar-track{
    background-color: var(--backgroundTrack);
    border-radius: 5px;
}
.containerTableListBody::-webkit-scrollbar-thumb{
    background-color: var(--backgroundThumb);
    border-radius: 5px;
}

/* ------ Columns body ------*/
.containerColumns {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColumn); 
    border-radius: 2px;
    padding: 5px 10px;
    overflow: hidden;
    max-height: 85vh;
    margin-left: 15px;
    min-width: 272px;
    max-width: 272px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px 3px var(--backgroundColorBoxShadow);
    -moz-box-shadow: 0px 0px 10px 3px var(--backgroundColorBoxShadow);
    box-shadow: 0px 0px 10px 3px var(--backgroundColorBoxShadow);

}

.containerTitleVertIcon{
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 0 5px;
    position: relative;
}
.containerTask{
    overflow-y: auto;
}
.containerOverFlowTask{
    overflow-y: auto;
    overflow-x: hidden;
}
.containerOverFlowTask::-webkit-scrollbar {
    width: 8px;
}
.containerOverFlowTask::-webkit-scrollbar-track{
    background-color: var(--backgroundTrack);
    border-radius: 5px;
}
.containerOverFlowTask::-webkit-scrollbar-thumb{
    background-color: var(--backgroundThumb);
    border-radius: 5px;
}
.containerTaskBody{
    background-color: var(--backgroundTask);
    border-radius: 2px;
    margin: 0px 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 2px 1px var(--backgroundColorBoxShadow);
    -moz-box-shadow: 0px 0px 2px 1px var(--backgroundColorBoxShadow);
    box-shadow: 0px 0px 2px 1px var(--backgroundColorBoxShadow);
    max-width: 100%;
}
.containerTaskBody:hover{
    background-color: var(--backgroundColorTaskBody);
    border-color: var(--borderColorHoverTask);
    color: var(--colorHoverTask);
    cursor: pointer;
}
.containerTask {
    position: relative;
    height: 100%;
}
.containerTask div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1px 3px;
    margin-bottom: 1px;
}
.containerTaskAvatar {
    display: flex;
    justify-content: flex-end;
    /* padding: 5px; */
}
.containerAbsoluteIconDescripcion {
    /* position: absolute; */
    /* bottom: 5px; */
    color: var(--colorTextH4);
    /* left: 5px; */

}
.containerTextarea{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.containerButtonCheck,
.containerButtonClose {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 32px;
    cursor: pointer;
    border-radius: 2px;
}
.containerButtonCheck:hover{
    background-color: var(--backgroundColorButtonCheck);
    color: var(--colorTextHover);
} 
.containerButtonClose:hover{
    background-color: var(--backgroundColorButtonClose);
    color: var(--colorTextHover);
}

.containerActiveVertIcon {
    position: absolute;
    right: 25px;
    top: 0px;
    z-index: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ebecf0;
    border: 1px solid #666;
    border-radius: 2px;
    width: 200px;
    box-shadow: 2px 8px 20px 0 rgba(0,0, 0, 0.15);
}

/* --------------- Componente List Project --------------- */
.containerListProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--backgroundColumn);
    height: calc(100vh - 55px);
}
.container{
    max-width: 1200px;
    width: 100%;
    min-width: 500px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
}
.containerListAndNewProject{
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--backgroundColumn);
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--ColorTitleColumn);
    margin-bottom: 20px;
}
.containerListAndNewProject p {
    font-size: 20px;
    color: var(--ColorTitleColumn);
    font-weight: 600;
}

.containerListProjectMap{
    width: 100%;
}
.listProjectMap{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--ColorTitleColumn);
}

/* --------------- Componente UserProfile --------------- */
.containerUserProfile {
    display: flex;
    width: max-content;
    padding: 30px;
    background-color: var(--backgroundColumn);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 3px 2px var(--backgroundColorBoxShadow);
    -moz-box-shadow: 0px 0px 3px 2px var(--backgroundColorBoxShadow);
    box-shadow: 0px 0px 3px 2px var(--backgroundColorBoxShadow);
}
.containerAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 15px;
}
.containerAvatar input {
    display: none;
}
.containerAvatar label {
    position: absolute;
    bottom: -10px;
    right: 15px;
    color: var(--ColorTitleColumn);
    cursor: pointer;
}

.containerUserProfileUserName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- Componente Login --------------- */
.containerLogin {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColumn);
    -webkit-box-shadow: inset 0px 0px 15px 3px var(--backgroundColorBoxShadow);
    -moz-box-shadow: inset 0px 0px 15px 3px var(--backgroundColorBoxShadow);
    box-shadow: inset 0px 0px 15px 3px var(--backgroundColorBoxShadow);
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 550px;
    width: 100%;
    margin: auto;
}
.containerIconInput{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--backgroundColumn);
    -webkit-box-shadow: 0px 0px 3px 2px var(--backgroundColorBoxShadow);
    -moz-box-shadow: 0px 0px 3px 2px var(--backgroundColorBoxShadow);
    box-shadow: 0px 0px 3px 2px var(--backgroundColorBoxShadow);
    margin: 10px 0;
    padding: 5px 15px;
    border-radius: 3px;
}

/* --------------- Componente DisplayTask --------------- */
.containerTitleTask {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.containerInput {
    box-sizing: content-box;
    margin-left: 15px;
    margin-top: -4px;
    width: 100%;
}
.containerIconH4 {
    display: flex;
    align-items: flex-start;
    color: var(--colorTextH4); 
}

.containerTitleTask p {
    font-size: 14px;
    margin-left: 40px;
    color: var(--colorText);
}

.containerMembers {
    margin-left: 40px;
    color: var(--colorText);
}
.containerMembers h3 {
    font-weight: 600;
    font-size: 13px;
    color: #5e6c84;
}

.containerDescripcion {
    display: flex;
    flex-direction: column;
}
.containerDescripcionIconH3 {
    display: flex;
    color: var(--colorTextH4);
    margin-top: 20px;
}
.containerDescripcionIconH3 h3{
    font-size: 16px;
    margin-left: 15px;
}
.containerP {
    margin-left: 40px;
    background-color: red;
    margin-top: 10px;
    border-radius: 3px;
    background-color: rgba(9, 30, 66, .04);
    padding: 8px 12px;
}
.containerP p {
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
}
.containerFlex {
    display: flex;
    flex-direction: column;
}
.containerAddActivity{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.containerTextAreaNewComment,
.containerNewCommentActive{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 100%;
    margin-left: 7px;
    border-radius: 3px;
    background-color: #fff;
    height: 100%;
}
.containerTextAreaNewComment {
    box-shadow: 0 1px 2px -1px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
}
.containerNewCommentActive {
    box-shadow: 0 4px 8px -2px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
}
.containerNewComment {
    width: 100%;
    background-color: #fff;
    padding: 0px 12px;
    margin: 10px 0;
    transition: all 1s ease;
}
.containerComments{
    display: flex;
    width: 100%;
    margin: 10px 0px;
}
.containerUserComment{
    margin-left: 7px;
    width: 100%;
}

/* cambiar todo esto */
.containerUserComment h5 {
    font-weight: 700;
    color: var(--colorTextH4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.commentary {
    padding: 8px 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0 1px 2px -1px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    border-radius: 3px;
    width: max-content;
}

.containerListMembers {
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    color: var(--colorTextH4);
    position: relative;
    padding: 0 12px 12px;
}
.containerListMembers input {
    display: none;
}
.containerClose {
    position: relative;
    display: flex;
    width: 304px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.containerIconMembers {
    position: absolute;
    right: 0;
    padding: 10px 12px 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon {
    max-height: 16px;
    color: var(--colorText);
}
.containerAvatarName {
    display: flex;
    align-items: center;
    margin: 5px 0;
    background-color: var(--backgroundCommentEmpty);
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}

.containerDivImage {
    background-color: rgb(224, 222, 221);
    min-height: 160px;
    max-height: 160px;
    width: 100%;
    position: relative;
}
.containerDivImage img {
    object-fit: contain;
    width: 100%;
    max-height: 160px;
    box-sizing: border-box;
}
.containerButtonAbsolute {
    position: absolute;
    bottom: 5px;
    right: 5px;
}