/* --------------- Button Icon --------------- */
.titleAddToCard {
  color: var(--colorText);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: 20px;
  margin-bottom: -4px;
}
.titleAddMembers,
.titleMembers{
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}
.titleMembers,
.titleBoard {
  color: var(--colorTex);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.titleBoard {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: 16px;
  margin-top: 16px;
}
.titleNameLastName{
  line-height: 32px;
  white-space: nowrap;
  color: var(--colorTextH4);
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.titleBoards {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: .03px;
  margin: 15px 0px;
  
}

.titleh2Login {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--colorText);
}