/* ------ TableList body ------*/
.inputFormAddColumn{
    width: 100%;
    border: none;
    font-size: 16px;
    overflow-wrap: break-word;
    height: 30px;
    padding: 5px;
    margin: 10px 0px;
}

/* ------ Column body ------*/
.textareaAddTask{
    width: 100%;
    height: 80px;
    max-width: 100%;
    min-width: 100%;
    max-height: 130px;
    min-height: 80px;
    border: none;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    line-height: 1.5;
    font-size: 16px;
    color: var(--colorText);
}

/* ------ Modify Task ------*/

.inputModifyTask {
    height: 35px;
    font-size: 16px;
    padding: 5px;
    color: var(--colorText);
    overflow-wrap: break-word;
    margin: 10px 0;
}
.textAreaModifyTask {
    min-height: 70px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--colorText);
    overflow-wrap: break-word;
}
/* --------------- Componente Login --------------- */
.inputsLogin{
    height: 35px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    outline: none;
}

/* --------------- Componente DisplayTask --------------- */
.inputDisplayTask {
    font-size: 20px;
    border: none;
    width: 100%;
    height: 35px;
    font-weight: 700;
    background-color: transparent;
    outline: none;
    color: var(--colorTextH4);
}