/* ------ TableList body ------*/
.inputFormAddColumn{
    width: 100%;
    border: none;
    font-size: 16px;
    overflow-wrap: break-word;
    height: 30px;
    padding: 5px;
    margin: 10px 0px;
}

.textAreaAddColumn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--ColorTitleColumn);
    font-weight: 700;
    outline: none;
    border: 1px solid transparent;
    resize: none;
    overflow: hidden;
    margin-top: 10px;
}
.textAreaAddColumn:focus{
    border-color: var(--ColorTitleColumn);
    background-color: #fff;
}
.textAreaAddColumn::placeholder{
    color: var(--ColorTitleColumn);
}

/* ------ Column body ------*/
.textareaAddTask{
    max-width: 100%;
    border: none;
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--colorTextH4);
    resize: none;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-box-shadow: 0px 0px 2px 1px var(--backgroundColorBoxShadow);
    -moz-box-shadow: 0px 0px 2px 1px var(--backgroundColorBoxShadow);
    box-shadow: 0px 0px 2px 1px var(--backgroundColorBoxShadow);
    line-height: 18px;
    font-weight: 400;
    outline: none;
}
.textareaAddTask::placeholder{
    color: var(--colorTextH4);
    font-weight: 300;
}

/* ------ Modify Task ------*/

.inputModifyTask {
    height: 35px;
    font-size: 14px;
    padding: 5px;
    color: var(--colorText);
    overflow-wrap: break-word;
    margin: 10px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textAreaModifyTask {
    width: 100%;
    resize: none;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--colorText);
    overflow-wrap: break-word;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* --------------- Componente Login --------------- */
.inputsLogin{
    height: 35px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --------------- Componente DisplayTask --------------- */
.inputDisplayTask {
    font-size: 20px;
    border: none;
    width: 100%;
    height: 35px;
    font-weight: 700;
    background-color: transparent;
    outline: none;
    color: var(--colorTextH4);
}
.textAreaTask, 
.textAreaDisplayTask {
    resize: none;
    outline: none;
    color: var(--colorTextH4);
    border-radius: 3px;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
}
.textAreaDisplayTask {
    font-size: 20px;
    width: 100%;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid transparent;
    
}
.textAreaDisplayTask:focus {
    background-color: #fff;
    border-color: var(--colorTextH4);
}
.textAreaDisplayTask:hover{
    cursor: pointer;
}
.textAreaTask {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    font-weight: 400;
    border: none;
    pointer-events: none;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: normal;
    color: var(--colorTextH4);
}

.textAreaModifyDescription {
    width: 100%;
    padding: 8px 12px;
    padding-bottom: 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: rgba(9, 30, 66, .04);
    color: var(--colorTextH4);
    resize: none;
    overflow: hidden;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textAreaModifyDescription:hover{
    background-color: rgba(9, 30, 66, .08);
    color: var(--colorHoverTask);
    cursor: pointer;
}
.textAreaModifyDescription:focus{
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(9,48,102,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(9,48,102,1);
    box-shadow: inset 0px 0px 5px 0px rgba(9,48,102,1);
    border-color: var(--ColorTitleColumn);
}

.textAreaNewComment {
    width: 100%;
    padding: 5px 12px;
    background-color: #fff;
    /* box-shadow: 0 1px 2px -1px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%); */
    font-size: 14px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
    overflow: hidden;
    border: none;
}
.textAreaNewComment:focus{
    outline: none;
}

