/*    Modify Task      */
.containerModifyTask {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(5px) brightness(70%);
    background-color: rgba(0, 0, 0, .64);
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
}

.containerTask{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: max-content;
    width: 100%;
    margin: 48px 0 80px;
    background-color: var(--backgroundColumn);
    padding: 5px;
    border-radius: 5px;
}
.containerButtonClose {
    align-self: flex-end;
    color: var(--colorText);
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px; 
}
.containerButtonClose:hover {
    background-color: var(--backgroundColorButtonClose);
    color: var(--colorTextHover)
}
.containerButtonCloseAbsolute {
    position: absolute;
    z-index: 1;
    right: 0;
    cursor: pointer;
    padding: 4px;
    margin: 4px;
    border-radius: 50%;
    color: #42526e;
}
.containerButtonCloseAbsolute:hover{
    background-color: rgba(9, 30,66, .08);
}
.closeIcon{
    vertical-align: middle;
}
.containerButtonModifyTask {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* --------------- Display Task --------------- */
.containerDisplayTask {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 100%;
    height: 100%;
    margin: 48px 0 80px;
    background-color: var(--backgroundColumn);
    /* padding: 10px 15px; */
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    align-self: flex-start;
}
/* --------------- Display Container Left Container Right --------------- */
.containerMainLeftAndRight{
    display: flex;
}


/* --------------- Display Container Left --------------- */

.containerLeft {
    width: 73.33%;
    padding: 0 8px 8px 16px;
    overflow: hidden;
}

/* --------------- Display Container Right --------------- */

.containerRight {
    padding: 0 16px 8px 8px;
    width: 26.7%;
    overflow: hidden;
}

@media (max-width: 990px) {
    .containerMainLeftAndRight{
        flex-direction: column;
    }
    .containerLeft {
        width: 100%;
    }
    .containerRight {
        width: 100%;
    }
}

/* --------------- Container User Avatar --------------- */
.containerUserAvatar {
    position: relative;
}
.containerUserAvatar img {
    border-radius: 50%;
    object-fit: cover;
}